<!-- Footer -->
<footer class="footer simple">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="copyr pull-left">All right reserved | 2016</p>
            </div><!-- /.col-md-3 -->
            <div class="col-md-9">
                <nav id="footernav" class="footernav pull-right">
                    <ul class="menu">
                        <li><a href="{{ path_for ('home-page') }}">Home</a></li>
                        <li><a href="{{ path_for ('about-page') }}">About</a></li>
                        <li><a href="{{ path_for ('menu-page') }}">Menu</a></li>
                        <li><a href="{{ path_for ('gallery-page') }}">Gallery</a></li>
                        <li><a href="{{ path_for ('events-page') }}">Events</a></li>
                        <li><a href="{{ path_for ('contact-page') }}">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>