<!-- Footer -->
<footer class="footer simple">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="copyr pull-left">All right reserved | 2016</p>
            </div><!-- /.col-md-3 -->
            <div class="col-md-9">
                <nav id="footernav" class="footernav pull-right">
                    <ul class="menu">
                        <li><a href="{{ home }}">Home</a></li>
                        <li><a href="{{ about }}">About</a></li>
                        <li><a href="{{ menu }}">Menu</a></li>
                        <li><a href="{{ gallery }}">Gallery</a></li>
                        <li><a href="{{ events }}">Events</a></li>
                        <li><a href="{{ contact }}">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>