
<!-- Top -->
<div class="top">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <ul class="social pull-left">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="active"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                </ul><!-- /.social -->
            </div><!-- /.col-md-5 -->
            <div class="col-md-7">
                <div class="welcome pull-right">
                    <div class="welcome-message">
                        <a>
                            Welcome to <strong>Ted's Restaurant</strong>
                        </a>
                    </div>
                </div>
            </div><!-- /.col-md-7 -->
        </div><!-- /.row -->
    </div><!-- /.containter -->
</div><!-- /.top -->


<!-- Header -->
<header id="header" class="header">
    <div class="header-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo-wrap">
                        <div id="logo" class="logo">

                        </div>
                    </div>
                    <div class="btn-menu"></div><!-- //mobile menu button -->
                    <nav id="mainnav" class="mainnav">
                        <ul class="menu">
                            <li><a href="{{ path_for ('home-page') }}">Home</a></li>
                            <li><a href="{{ path_for ('about-page') }}">About</a></li>
                            <li><a href="{{ path_for ('menu-page') }}">Menu</a></li>
                            <li><a href="#" title="spacing" class="spacing"></a></li>
                            <li><a href="{{ path_for ('specials-page') }}">Specials</a></li>
                            <li><a href="{{ path_for ('gallery-page') }}">Gallery</a></li>
                            <li class="last"><a href="{{ path_for ('contact-page') }}">Contact</a>
                            </li>
                        </ul><!-- /.menu -->
                    </nav><!-- /nav -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.header-wrap -->
</header><!-- /.header -->

